// Set project colors

$color-1: #48b6f0; // main color
$color-2: #e94fad; // secondary color
$color-3: #6f49ca; // terciary color
$color-3: #404040; // bg color
$color-4: #f5f5f5; // bg color

// Text color
$text-color-1: #262626;

// Helper colors
$white: #FFFFFF;
$black: #000000;
